@import url('https://fonts.googleapis.com/css2?family=Chonburi&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Chonburi', cursive; 
}
.navigation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #f9eeb6;
}
.box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 0;
    color: #86a5c4;
    margin: 0 auto;
    cursor: pointer;
}

.icon{
    text-align: right;
    margin-right: 10px;
}


.fas{
    font-size: 22px;
}
.box:hover{
    background-color: #86a5c4;
    color: #f9eeb6;
}
.textbox{
    text-align: left;
    font-size: 28px;
}
